// app global css in SCSS form
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.autoHeightBox{
    height: calc(88vh - 50px);
}
.autoHeightBoxTab{
    height: calc(54vh - 50px);
}
.maxHeightVehMaps{
    overflow-y:auto; 
    max-height:53vh;
}
.maxHeightListMaster{
    overflow-y:auto; 
    height:calc(69vh - 50px);
}
.maxHeightLanding{
    height:calc(85vh - 50px);
    max-height:calc(75vh - 50px);
}
.landingTwo{
    margin-top: 20vh;
}
.mrgTop{
    margin-top: 5vh;
}
.colorWhite{
    color:white;
}
.colorBlack{
    color:black;
}
.bgOrange{
    background-color:#ffd428;
}
.bgGrey{
    background-color: #f5f5f5;
}
.bgBlack{
    background-color: #212121;
}
.radius{
    border-radius: 20px;
}
.widthSlider{
    width:60%;
}
.hgtSlide{
    height:65vh;
}
.widthSponsor{
    width:20%;
}

@media only screen and (max-device-width: 480px) {
    .widthSlider{
        width:100%;
    }
    .hgtSlide{
        height:45vh;
    }
    .widthSponsor{
        width:70%;
    }
}
@media only screen and (max-device-width : 640px) {
    .widthSlider{
        width:100%;
    }
    .hgtSlide{
        height:45vh;
    }
    .widthSponsor{
        width:70%;
    }
}

@media only screen and (max-device-width: 768px) {
    .widthSlider{
        width:100%;
    }
    .hgtSlide{
        height:45vh;
    }
    .widthSponsor{
        width:70%;
    }
}